[build]
  publish = "dist" 
  command = "npm run build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

  [[redirects]]
  from = "/api/*"
  # Ganti dengan URL API backend eksternal tempat kode AI Anda berjalan
  to = "https://URL-BACKEND-ANDA-EKSTERNAL.com/:splat" 
  status = 200